.practical-information{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: flex-end;
}

.practical-information>button{
    font-size: 1.3rem;
    border-radius: 50%;
    width: 30px;
}