:root {
  --main-background: #faf9f9;
  --main-font-color: #191516;
  --accent-font-color: #3772ff;
  --darker-accent-font-color: #1c5bec;
  --accent-background: #bee3db;
  --red-pink-color: #af3b6e;

  box-sizing: border-box;

  color: var(--main-font-color);
}

body{
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--main-background);
  margin: 0px;
}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
}